<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="ui container">
      <div class="ui attached stackable menu inverted">
      <div class="ui container">
       <a class="item">
         <i class="home icon"></i> Home
       </a>
       <a class="item">
         <i class="grid layout icon"></i> Browse
       </a>
       <div class="ui simple dropdown item">
         More
         <i class="dropdown icon"></i>
         <div class="menu">
           <a class="item"><i class="edit icon"></i> Edit Profile</a>
           <a class="item"><i class="globe icon"></i> Choose Language</a>
           <a class="item"><i class="settings icon"></i> Account Settings</a>
         </div>
       </div>
       <div class="right item">
         <form class="" action="/" method="post">
           <div class="ui action input">
                <input name="city" type="text" placeholder="Search...">
                <button class="ui teal right labeled icon button">Submit</button>
           </div>
         </form>
       </div>
      </div>
      </div>
   </div>
